.SlideContainer {
  display: flex;
  flex-direction: column;
}

.SlideContainerImageRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.TextContainer {
  width: 100%;
  font-size: 2.2rem;
}

.ImageContainer {
  width: 100%;
  margin-top: -50px;
}

.ImageContainerImageRow {
  width: 100%;
}
